@font-face {
  font-family: "Highwind Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Highwind Regular"), url("./assets/Highwind.woff") format("woff");
}

@font-face {
  font-family: "Highwind Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Highwind Italic"),
    url("./assets/Highwind Italic.woff") format("woff");
}
